.footer {
    background-color: #f5f5f5;
    padding: 20px 0;
    text-align: center;
    width: 100%;
  }
  
  .contactInfo {
    color: rgb(0, 0, 0);
  }
  
  p {
    margin: 0;
    color: rgb(0, 0, 0);
  }
  