.header {
    background-color: #000000;
    color: #f0f0f0;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    z-index: 1000;
  }
  
  .header h1 {
    margin: 0;
    font-size: 24px;
    color: #2e89ff;
  }
  
  .header a {
    color: #f0f0f0;
    text-decoration: none;
    margin-left: 10px;
  }
  
  .header a:hover {
    text-decoration: underline;
  }
  