/* General styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1, h2, h3, h4 {
    color: #333;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .subtible{

    text-align: center;
  }
    a {
     color: #2196f3;
    text-decoration: none;
    }
    
    a:hover {
    text-decoration: underline;
    }
      
    /* TokenInput component styles */
    .token-input {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 80%;
        background-color: white;
        border-radius: 5px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
        padding: 20px;
        margin-bottom: 20px;
        max-width: 600px;
    }
      
    .token-input form {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
      
    .token-input input {
        padding: 8px 16px;
        font-size: 1em;
        border: 1px solid #ccc;
        border-radius: 16px;
    }
      
    .token-input button {
        background-color: #2196f3;
        color: #fff;
        border: none;
        border-radius: 16px;
        cursor: pointer;
        font-size: 1em;
        padding: 8px 16px;
    }
      
    .token-input button:hover {
        background-color: #1976d2;
    }
      
    .help-section {
        padding: 20px 0;
        color: black;
    }
      
    .contact-info {
        display: flex;
        gap: 20px;
        justify-content: center;
        flex-wrap: wrap;
      }
      
    .contact {
        padding: 10px 0;
    }
      